{% extends 'morning_layout.html.twig' %}

{% block body %}
    <h1>COUCOU  page index</h1>

{% endblock %}

{% block stylesheets %}


{% endblock %}

{% block  menu %}
    <h1> ici j'ai mon menu  {{ lionel }}</h1>

{% endblock %}